{% extends 'app/base.html' %}
{% load static %}
{% block products %}
<div class="services_section layout_padding">
    <div class="container">
       <h1 class="services_taital" id="organic">Organic Products</h1>
       <div class="services_section_2 layout_padding">
          <div class="row">
             <div class="col-md-6">
                <a href="{% url 'fertilizer' %}#fertilizer">
                    <div class="image_main">
                       <img src="{% static 'app/images/org-fert.png' %}" class="image_2">
                       <!-- <h2 class="vegetable_text">Organic Fertilizers</h2> -->
                    </div>
                    <h2 class="index_organic">Organic Fertilizers</h2>
                </a>
             </div>
             <div class="col-md-6">
                <a href="{% url 'pesticide' %}#pesticide">
                    <div class="image_main">
                       <img src="{% static 'app/images/org-pest.png' %}" class="image_2">
                       <!-- <h2 class="vegetable_text">Organic Pesticides</h2> -->
                    </div>
                    <h2 class="index_organic">Organic Pesticides</h2>
                 </a>
             </div>
          </div>
       </div>
    </div>
</div>
<br>
{% endblock %}